@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 769px;
$desktop: 1024px;
$desktopXL: 2048px;


// Colores
$blanco: #fff;
$negro: #000;
$fondoDark: #181A1B;
$grisLetra: #E8E6E3;


/*===== Separaciones =====*/
$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900